

<svg
   xml:space="preserve"
    viewBox="0 0 317.53 332.59"
    y="0"
    x="0"
    xmlns="http://www.w3.org/2000/svg"
    id="test"
    style=" background: none; "
    width="100px"
    height="100px"
>
    <g
        class="iksLoadingScaling"
        style=" transform: rotate(0deg) "
    >
        <g class="iksLoadingLayerClass">
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.12641s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <rect id="circle-6" x="213.98" y="69.07" width="7" height="66.81" transform="translate(286 334.91) rotate(-131.13)" style="fill: black; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 5px;"/>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.18899s infinite normal forwards
                            running iksLoading;
                    "
                >
                      <rect id="circle-7" x="213.98" y="150.22" width="7" height="66.81" transform="translate(-49.48 281.55) rotate(-60)" style="fill: black; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 5px;"/>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.25156s infinite normal forwards
                            running iksLoading;
                    "
                >
                     <rect id="circle-8" x="98.28" y="145.39" width="7" height="66.81" transform="translate(.25 357.73) rotate(-120)" style="fill: black; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 5px;"/>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.31414s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <rect id="circle-9" x="168.95" y="188.71" width="7" height="66.81" transform="translate(358.67 435.56) rotate(177.23)" style="fill: black; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 5px;"/>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        
                        opacity: 1;
                        animation: 2.12766s linear -1.37672s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <rect id="circle-10" x="120.84" y="63.72" width="6" height="67.72" transform="translate(283.17 106.77) rotate(145.32)" style="fill: #231f20; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 5px;"/>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 80px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.4393s infinite normal forwards
                            running iksLoading;
                    "
                >
                  <circle id="bottom" cx="174.07" cy="293.85" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
   
  </circle>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.50188s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <circle id="circle-1" cx="165.16" cy="150.39" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
 
  </circle>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.56446s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <circle id="bottom-left" cx="38.74" cy="216.86" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
   
             </circle>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.62703s infinite normal forwards
                            running iksLoading;
                    "
                >
                   <circle id="circle-3" cx="278.8" cy="212.03" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
  
             </circle>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.68961s infinite normal forwards
                            running iksLoading;
                    "
                >
                    <circle id="circle-4" cx="86.75" cy="38.74" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
   
  </circle>
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.75219s infinite normal forwards
                            running iksLoading;
                    "
                >
                     <circle id="circle-5"  cx="269.42" cy="58.34" r="33.24" style="fill: #8626c3; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 11px;">
  
  </circle>
             
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.81477s infinite normal forwards
                            running iksLoading;
                    "
                >
                  
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.87735s infinite normal forwards
                            running iksLoading;
                    "
                >
                   
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -1.93992s infinite normal forwards
                            running iksLoading;
                    "
                >
                  
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -2.0025s infinite normal forwards
                            running iksLoading;
                    "
                >
                   
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -2.06508s infinite normal forwards
                            running iksLoading;
                    "
                >
                  
                </g>
            </g>
            <g class="iksLoadingLayer">
                <g
                    class="iksLoadingLayerClass"
                    style="
                        transform-origin: 50px 50px;
                        opacity: 1;
                        animation: 2.12766s linear -2.12766s infinite normal forwards
                            running iksLoading;
                    "
                >
                 
                </g>
            </g>
        </g>
    </g>
    <style id="iksLoading" >
        @keyframes iksLoading {
            0% {
                opacity: 1;
            }
            49.75% {
                opacity: 1;
            }
            50.25% {
                opacity: 0;
            }
            99.5% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
</svg>
