<mat-card>
    <mat-card-title>Create New Task</mat-card-title>
    <mat-card-content>
      <form [formGroup]="taskForm">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Title" required>
          <!-- <mat-error *ngIf="taskForm.controls.title.invalid && taskForm.controls.title.touched">
            Title is required.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Description" required></textarea>
          <!-- <mat-error *ngIf="taskForm.controls.description.invalid && taskForm.controls.description.touched">
            Description is required.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Due Date" required>
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <!-- <mat-error *ngIf="taskForm.controls.dueDate.invalid && taskForm.controls.dueDate.touched">
            Due Date is required.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="category" placeholder="Category" required>
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="taskForm.controls.category.invalid && taskForm.controls.category.touched">
            Category is required.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="priority" placeholder="Priority" required>
            <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="taskForm.controls.priority.invalid && taskForm.controls.priority.touched">
            Priority is required.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="collaborators" placeholder="collaborators" required
           multiple [value]="data ? collaborators : ''">
            <mat-option *ngFor="let collaborator of collaborators" 
                [value]="collaborator">{{ collaborator }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="data" mat-raised-button 
          color="primary" (click)="updateTask()" [disabled]="taskForm.invalid">Update Task</button>
        <button *ngIf="!data" mat-raised-button 
          color="primary" (click)="createTask()" [disabled]="taskForm.invalid">Create Task</button>
      </form>
    </mat-card-content>
  </mat-card>